{% ckan_extends %}

{% set md_data = h.md_package_extras_processor(pkg_dict.extras) %}
<p>there are things going on here I dont understand</P>
<section class="additional-info">
  <h3>{{ _('Additional Info') }}</h3>
{% block package_additional_info %}
    {% if md_data %}
      {% if md_data.date %}
        <table class="table table-striped table-bordered table-condensed">
          <tr>
            <th scope="row" class="dataset-label">{{ _('Citation Date') }}</th>
            <td class="dataset-details" property="rdf:value">{{ md_data.date }}</td>
          </tr>
        </table>
      {% endif %}

      {% if md_data.harvest %}
        {% set harvest = md_data.harvest %}
        <h4>{{ _('Harvest Information') }}</h4>
        <table class="table table-striped table-bordered table-condensed">
          {% if harvest.originalFileIdentifier %}
            <tr>
              <th scope="row" class="dataset-label">{{ _('Original ID') }}</th>
              <td class="dataset-details" property="rdf:value">{{ harvest.originalFileIdentifier }}</td>
            </tr>
          {% endif %}
          {% if harvest.indexDate %}
            <tr>
              <th scope="row" class="dataset-label">{{ _('Index Date') }}</th>
              <td class="dataset-details" property="rdf:value">{{ harvest.indexDate }}</td>
            </tr>
          {% endif %}
          {% if harvest.originalFormat %}
            <tr>
              <th scope="row" class="dataset-label">{{ _('Original Format') }}</th>
              <td class="dataset-details" property="rdf:value">{{ harvest.originalFormat }}</td>
            </tr>
          {% endif %}
          {% if harvest.version %}
            <tr>
              <th scope="row" class="dataset-label">{{ _('Original Version') }}</th>
              <td class="dataset-details" property="rdf:value">{{ harvest.version }}</td>
            </tr>
          {% endif %}
        </table>
      {% endif %}

      {% if md_data.props and md_data.props.author %}
        {% set author = md_data.props.author %}
        <h4>{{ _('Metadata Contact') }}</h4>
        <table class="table table-striped table-bordered table-condensed">
          {% if author.Name %}
            <tr>
              <th scope="row" class="dataset-label">{{ _('Name') }}</th>
              <td class="dataset-details" property="rdf:value">{{ author.Name }}</td>
            </tr>
          {% endif %}
          {% if author.Position %}
            <tr>
              <th scope="row" class="dataset-label">{{ _('Position') }}</th>
              <td class="dataset-details" property="rdf:value">{{ author.Position }}</td>
            </tr>
          {% endif %}
          {% if author.Organization %}
            <tr>
              <th scope="row" class="dataset-label">{{ _('Organization') }}</th>
              <td class="dataset-details" property="rdf:value">{{ author.Organization }}</td>
            </tr>
          {% endif %}
          {% if author.Address %}
            <tr>
              <th scope="row" class="dataset-label">{{ _('Address') }}</th>
              <td class="dataset-details" property="rdf:value">{{ author.Address }}</td>
            </tr>
          {% endif %}
          {% if author.Phone %}
            <tr>
              <th scope="row" class="dataset-label">{{ _('Phone') }}</th>
              <td class="dataset-details" property="rdf:value">{{ author.Phone }}</td>
            </tr>
          {% endif %}
          {% if author.Email %}
            <tr>
              <th scope="row" class="dataset-label">{{ _('Email') }}</th>
              <td class="dataset-details" property="rdf:value">{{ author.Email }}</td>
            </tr>
          {% endif %}
        </table>
      {% endif %}

      {% if md_data.authors|length > 1 %}
        <h4>{{ _('Authors') }}</h4>
      {% endif %}
      {% if md_data.authors|length == 1 %}
        <h4>{{ _('Author') }}</h4>
      {% endif %}
      {% for author in md_data.authors %}
        <table class="table table-striped table-bordered table-condensed">
          {% if author.Name %}
            <tr>
              <th scope="row" class="dataset-label">{{ _('Name') }}</th>
              <td class="dataset-details" property="rdf:value">{{ author.Name }}</td>
            </tr>
          {% endif %}
          {% if author.Position %}
            <tr>
              <th scope="row" class="dataset-label">{{ _('Position') }}</th>
              <td class="dataset-details" property="rdf:value">{{ author.Position }}</td>
            </tr>
          {% endif %}
          {% if author.Organization %}
            <tr>
              <th scope="row" class="dataset-label">{{ _('Organization') }}</th>
              <td class="dataset-details" property="rdf:value">{{ author.Organization }}</td>
            </tr>
          {% endif %}
          {% if author.Address %}
            <tr>
              <th scope="row" class="dataset-label">{{ _('Address') }}</th>
              <td class="dataset-details" property="rdf:value">{{ author.Address }}</td>
            </tr>
          {% endif %}
          {% if author.Phone %}
            <tr>
              <th scope="row" class="dataset-label">{{ _('Phone') }}</th>
              <td class="dataset-details" property="rdf:value">{{ author.Phone }}</td>
            </tr>
          {% endif %}
          {% if author.Email %}
            <tr>
              <th scope="row" class="dataset-label">{{ _('Email') }}</th>
              <td class="dataset-details" property="rdf:value">{{ author.Email }}</td>
            </tr>
          {% endif %}
        </table>
      {% endfor %}

      {% if md_data.contacts|length > 1 %}
        <h4>{{ _('Resource Contacts') }}</h4>
      {% endif %}
      {% if md_data.contacts|length == 1 %}
        <h4>{{ _('Resource Contact') }}</h4>
      {% endif %}
      {% for author in md_data.contacts %}
        <table class="table table-striped table-bordered table-condensed">
          {% if author.Name %}
            <tr>
              <th scope="row" class="dataset-label">{{ _('Name') }}</th>
              <td class="dataset-details" property="rdf:value">{{ author.Name }}</td>
            </tr>
          {% endif %}
          {% if author.Position %}
            <tr>
              <th scope="row" class="dataset-label">{{ _('Position') }}</th>
              <td class="dataset-details" property="rdf:value">{{ author.Position }}</td>
            </tr>
          {% endif %}
          {% if author.Organization %}
            <tr>
              <th scope="row" class="dataset-label">{{ _('Organization') }}</th>
              <td class="dataset-details" property="rdf:value">{{ author.Organization }}</td>
            </tr>
          {% endif %}
          {% if author.Address %}
            <tr>
              <th scope="row" class="dataset-label">{{ _('Address') }}</th>
              <td class="dataset-details" property="rdf:value">{{ author.Address }}</td>
            </tr>
          {% endif %}
          {% if author.Phone %}
            <tr>
              <th scope="row" class="dataset-label">{{ _('Phone') }}</th>
              <td class="dataset-details" property="rdf:value">{{ author.Phone }}</td>
            </tr>
          {% endif %}
          {% if author.Email %}
            <tr>
              <th scope="row" class="dataset-label">{{ _('Email') }}</th>
              <td class="dataset-details" property="rdf:value">{{ author.Email }}</td>
            </tr>
          {% endif %}
        </table>
      {% endfor %}

      {% if md_data.contentmodel %}
	 <h4>{{ _('USGIN Content Model') }}</h4>
         <table class="table table-striped table-bordered table-condensed">
           <tr>
            <th scope="row" class="dataset-label">{{ _('Content Model') }}</th>
            <td class="dataset-details" property="rdf:value">{{ md_data.contentmodel }}</td>
          </tr>
          <tr>
            <th scope="row" class="dataset-label">{{ _('Version') }}</th>
            <td class="dataset-details" property="rdf:value">{{ md_data.contentmodelver }}</td>
          </tr>
	  <tr>
            <th scope="row" class="dataset-label">{{ _('Layer Name') }}</th>
            <td class="dataset-details" property="rdf:value">{{ md_data.contentmodellayer }}</td>
          </tr>
        </table>
      {% endif %}

      {% if md_data.geography %}
        <h4>{{ _('Geographic Extent') }}</h4>
        {% set geo = md_data.geography %}
        <table class="table table-striped table-bordered table-condensed">
          <tr>
            <th scope="row" class="dataset-label">{{ _('North Bound') }}</th>
            <td class="dataset-details" property="rdf:value">{{ geo.northBoundLatitude }}</td>
          </tr>
          <tr>
            <th scope="row" class="dataset-label">{{ _('South Bound') }}</th>
            <td class="dataset-details" property="rdf:value">{{ geo.southBoundLatitude }}</td>
          </tr>
          <tr>
            <th scope="row" class="dataset-label">{{ _('East Bound') }}</th>
            <td class="dataset-details" property="rdf:value">{{ geo.eastBoundLongitude }}</td>
          </tr>
          <tr>
            <th scope="row" class="dataset-label">{{ _('West Bound') }}</th>
            <td class="dataset-details" property="rdf:value">{{ geo.westBoundLongitude }}</td>
          </tr>
        </table>
      {% endif %}
    {% else %}
      {% if pkg_dict.url %}
        <tr>
          <th scope="row" class="dataset-label">{{ _('Source') }}</th>
          <td class="dataset-details" property="foaf:homepage">{{ h.link_to(pkg_dict.url, pkg_dict.url, rel='foaf:homepage', target='_blank') }}</td>
        </tr>
      {% endif %}

      {% if pkg_dict.author_email %}
        <tr>
          <th scope="row" class="dataset-label">{{ _("Author") }}</th>
          <td class="dataset-details" property="dc:creator">{{ h.mail_to(email_address=pkg_dict.author_email, name=pkg_dict.author) }}</td>
        </tr>
      {% elif pkg_dict.author %}
        <tr>
          <th scope="row" class="dataset-label">{{ _("Author") }}</th>
          <td class="dataset-details" property="dc:creator">{{ pkg_dict.author }}</td>
        </tr>
      {% endif %}

      {% if pkg_dict.maintainer_email %}
        <tr>
          <th scope="row" class="dataset-label">{{ _('Maintainer') }}</th>
          <td class="dataset-details" property="dc:contributor">{{ h.mail_to(email_address=pkg_dict.maintainer_email, name=pkg_dict.maintainer) }}</td>
        </tr>
      {% elif pkg_dict.maintainer %}
        <tr>
          <th scope="row" class="dataset-label">{{ _('Maintainer') }}</th>
          <td class="dataset-details" property="dc:contributor">{{ pkg_dict.maintainer }}</td>
        </tr>
      {% endif %}

      {% if pkg_dict.version %}
        <tr>
          <th scope="row" class="dataset-label">{{ _("Version") }}</th>
          <td class="dataset-details">{{ pkg_dict.version }}</td>
        </tr>
      {% endif %}

      {% if h.check_access('package_update',{'id':pkg_dict.id}) %}
        <tr>
          <th scope="row" class="dataset-label">{{ _("State") }}</th>
          <td class="dataset-details">{{ pkg_dict.state }}</td>
        </tr>
      {% endif %}

      {% block extras scoped %}
        {% for extra in h.sorted_extras(pkg_dict.extras) %}
          {% set key, value = extra %}
          <tr rel="dc:relation" resource="_:extra{{ i }}">
            <th scope="row" class="dataset-label" property="rdfs:label">{{ _(key) }}</th>
            <td class="dataset-details" property="rdf:value">{{ value }}</td>
          </tr>
        {% endfor %}
      {% endblock %}
    {% endif %}
  {% endblock %}
</section>